<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <title>Refresh</title>
    <link rel="stylesheet" href="../Css/index.css">
    <script src="../node_modules/angular/angular.js"></script>
    <style>
        .hello{
            font-size: 20px;
        }
   .size{
       font-size: {{size}};
   }
    </style>

</head>
<body>
<h1 class="hello" ng-class="{'size':size}">Hello,
<span ng-if='name'>{{name}}</span>


</h1>
<input type="text" ng-model="name" placeholder="Input Name">
<input type="text" ng-model="size" placeholder="example:200px">

</body>
</html>